@model List<OneClick.Models.OrdersTbl>
@{
    ViewBag.Title = "Mobiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row" style="width: 100%;">
            <div class="col-xl-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                My Order List
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fluid">
                        <div class="kt-widget12">
                            <div class="kt-widget12__content" id="index-special-test-list">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="my-order-table">
                                        <thead>
                                            <tr>
                                                <th style="display: none;">Id</th>
                                                <th>Order Id</th>
                                                <th>Price</th>
                                                <th>Status</th>
                                                <th>Order Date</th>
                                                <th>Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(function () {
        var table = $("#my-order-table").DataTable({
            dom: 'Bfrtip',
            buttons: [
                { extend: 'print', className: 'btn dark btn-outline' },
                { extend: 'copy', className: 'btn red btn-outline' },
                { extend: 'pdf', className: 'btn green btn-outline' },
                { extend: 'excel', className: 'btn yellow btn-outline ' },
                { extend: 'csv', className: 'btn purple btn-outline ' },
                { extend: 'colvis', className: 'btn dark btn-outline', text: 'Columns' }
            ],
            "processing": true, // for show progress bar
            "language": {
                processing: '<div class="loading-message loading-message-boxed"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>'
            },
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": '/Order/MyOrder',
                "type": "POST",
                "datatype": "json"
            },
            "order": [[3, "desc"]],
            "columns": [
                { "data": "Id", "name": "Id", "autoWidth": true, "visible": false },
                { "data": "OrderId", "name": "Order Id", "autoWidth": true, "visible": true },
                { "data": "TotalPayment", "name": "Price", "autoWidth": true, "visible": true },
                {
                    sortable: false,
                    "render": function (data, type, full, meta) {
                        var status = full.OrderStatus;
                        var link = "";
                        if (status == 1)
                            link = '<span class="kt-badge kt-badge--success kt-badge--inline">Processing</span>';
                        return link;
                    }
                },
                { "data": "OrderDate", "name": "Order Date", "autoWidth": true, "visible": true },
                {
                    sortable: false,
                    "render": function (data, type, full, meta) {
                        var id = full.Id;
                        var link = '  <button type="button" class="btn btn-primary btn-label-brand btn-sm" onclick="ViewOrderDetails(' + id + ')"><i class="fa fa-edit"></i>&nbsp;Details</button>';
                        return link;
                    }
                }

            ]
        });
        $('.search-input').on('keyup change', function () {
            var index = $(this).attr('data-column');
            val = $(this).val();
            table.columns(index).search(val.trim()).draw();
        });
    });
</script>
<script>
    function ViewOrderDetails(id) {

    }
</script>